.card {
  width: 10rem;
}
.btn {
  background-color: var(--GreenStrong);
  color: var(--White);
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}
.btnContainerAdd {
  display: flex;
  justify-content: center;
}
.card-img-top {
  height: 10rem;
  object-fit: cover;
}
.card-title{
  font-size: 1rem;
}

@media (min-width: 1025px) { 
  .card {
    width: 18rem;
  }

  .card-title{
    font-size: 1.5rem;
  }

  .btn {
    
    font-size: 1rem;
  }

  .card-img-top {
    height: 11rem;
    
  }
  .card-text{
    font-size: 1rem;
  }
 }
