  <div class="order card fontBaloo">
    <div class="info">
      <div class="client-name">
        <p >Client: {{orders.data.clientName}}</p>
      </div>
      <div class="client-table">
        <p>Table: {{orders.data.table}}</p>
      </div>
    </div>
    <div class="time">
      <ul *ngFor = "let order of orders.data.date">
        <li>{{order.monthDateYear}}</li>
        <li>{{order.hourMinutes}}</li>
      </ul>
      <ul>
        <li>Time: {{time}}</li>
      </ul>
      <p class="tiempo"></p>
    </div>
    <div class="card-body">
      <select class="form-select form-select-sm" *ngIf="roleChef" (change)="orderStatus($event)" >
        <option value="New" selected>New</option>
        <option value="Acepted">Acepted</option>
        <option value="Ready">Ready</option>
      </select>
      <p *ngIf="roleWaiter">{{orders.data.status}}</p>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Cant</th>
            <th>Detail</th>
            <!-- <th>Adicional</th> -->
          </tr>
        </thead>
        <tbody *ngFor = "let order of orders.data.products">
          <tr>
            <th>{{order.amount}}</th>
            <td>{{order.description}}</td>
            <!-- <td>{{item.data.products.amount}}</td> -->
          </tr>
        </tbody>
      </table>
      <div class="containerDelivered">
        <button class="btnDelivered">Delivered</button>
      </div>

    </div>
  </div>
