/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --GreenStrong: #94D154;
  --GreenLight: #CDDFA0;
  --Black: #000000;
  --Salmon: #FFBBAE;
  --White: #FFFFFF;
}

.fontBaloo {
  font-family: 'Baloo Paaji 2', cursive;
}

.fontGermania {
  font-family: 'Germania One', sans-serif;
}