/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --GreenStrong: #94d154;
  --GreenLight: #cddfa0;
  --Black: #000000;
  --Salmon: #ffbbae;
  --White: #ffffff;
}

.fontBaloo {
  font-family: "Baloo Paaji 2", cursive;
}

.fontGermania {
  font-family: "Germania One", sans-serif;
}
