<div class="order-container">

  <div class="cardOptions">
    <ul class="list-group optionsOrderStatusContainer">
      <li class="list-group-item">
        <button [routerLink]="['allOrders']">
          <fa-icon [icon]="faAllOrders"></fa-icon>
          <p>All Orders</p>
        </button>
      </li>
      <li class="list-group-item">
        <button [routerLink]="['ready']">
          <fa-icon [icon]="faOrdersReady"></fa-icon>
          <p>Orders Ready</p>
        </button>
      </li>
      <li class="list-group-item">
        <button [routerLink]="['delivered']">
          <fa-icon [icon]="faOrdersDelivered"></fa-icon>
          <p>Delivered</p>
        </button>
      </li>
    </ul>
  </div>
  <div class="cardsOrders">
    <router-outlet ></router-outlet>
  </div>

</div>
