.order-container {
  display: grid;
  grid-template-columns: 15rem 1fr;
  align-items: stretch;
  margin: 1rem;
  flex-wrap: wrap;  
}
.card{
  margin: 1rem;
  grid-column: 1 / 2;

}
.cardsOrders{
  grid-column: 2 / 3;
}

.optionsOrderStatusContainer{
  display: flex;
  flex-direction: column;

}

button {
  border: none;
  background: none;
  color: var(--GreenStrong);
}

