<form class="card fontBaloo">
    <h5 class="card-header">Order Details</h5>
    <div class="card-body">

        <div class="containerCustomer">
            <div class="input-group">
                <span class="input-group-text">Customer</span>
                <input type="text" aria-label="First name" class="form-control" [(ngModel)]="clientName" [ngModelOptions]="{standalone: true}">
              </div>
        </div>


      <app-shopping-list></app-shopping-list>

      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">SubTotal: {{subTotal}}.00</li>
          <li class="list-group-item">Igv: {{igv}}</li>
          <li class="list-group-item">Total: {{total}}.00</li>
        </ul>
      </div>

      <div class="containerButton">
        <input class="btn btn-primary" type="submit" value="Save" (click)="sendOrder()" *ngIf="clientName">
        <input class="btn btn-primary" type="reset" value="Cancel" (click)="cancelOrder()">
      </div>
    </div>
  </form>
