.containerOrderDetails {
  margin: 1.5rem;
  width: 20rem;
}

.tittleOrderDetails {
  background-color: var(--GreenStrong);
  color: var(--White);
}

.card-header {
  background-color: var(--GreenStrong);
  color: var(--White);
}

.containerCustomer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.containerButton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn-primary {
  margin-top: 1rem;
  background-color: var(--GreenStrong);
  border-color: var(--GreenStrong);
}
.itemsCounterProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.input-group-text {
  background-color: var(--GreenLight);
  border-color: var(--GreenStrong);
  color: var(--Black);
}

.list-group-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top:1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  
}
td {
  padding-top: 1.2rem;
}

@media (min-width: 1025px) { 
  .containerOrderDetails {
    margin: 2.5rem;
    width: 24rem;
    
  }
  .card-body {
    align-items: center;
  }
  .btn-primary{
    margin-top:1rem;
  }
  p {
   
    margin-top: 1rem;
  }
  td {
    padding-top: 1.8rem;
  }

}