.containerProductList {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // max-height: 100%;
}

.containerChilldProductList {
  display: flex;
  flex-direction: column;
}

.containerMenuTypes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.itemTittleContainer {
  align-items: center;
}

.itemTittleContainer p {
  margin-top: 0;
  margin-bottom: 0rem;
  padding-top: 0.5rem;
}

.containerSelectOption {
  margin: 1rem;
  padding: 0 1rem;
}

.form-select {
  width: 70%;
  background-color: #e1e0e0a1;
  color: #6c6a6a;
}

#containerProductList{
  height: 25rem;
  overflow: scroll;
}

@media (min-width: 1025px) { 
  #containerProductList{
    height: 32rem;
  }
 }