<header>
  <h1 class="fontGermania">
    Makis Queen<fa-icon [icon]="faCrow" id="iconCrown"></fa-icon>
  </h1>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="userLogged">
      <img style="border-radius: 100%;" *ngIf="roleWaiter" src="../../assets/waiter.png" alt="" width="20" height="20">
      <img style="border-radius: 100%;" *ngIf="roleChef" src="../../assets/chef.png" alt="" width="20" height="20">
      {{ dataUser.name }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" routerLink="/waiter" *ngIf="roleWaiter">Place Order</a></li>
      <li><a class="dropdown-item" routerLink="/waiter/order-status/allOrders" *ngIf="roleWaiter">Order Status</a></li>
      <li><a class="dropdown-item" href="" (click)="logout()">Log Out</a></li>
    </ul>
  </div>
</header>

<router-outlet></router-outlet>
